
@import url(http://reset5.googlecode.com/hg/reset.min.css);

/************************************************************************
* Basics
************************************************************************/

body
{
	background: #f2f0e7;
	color: #503f38;
	font-family: Arial;
	font-size: 1.2em;
}

h1, h2, h3 { font-family: 'Comfortaa'; font-weight: 300; text-transform: uppercase; }
h1 { font-size: 2em; color: #5e2843; }
h2 { font-size: 1.2em; color: black; margin: 0 0 7px; }

p { line-height: 1.3em; margin: 0 0 15px 0; }

pre
{
	background: #341b27;
	color: #ecc5d9;
	padding: 15px;
	margin: 0 0 5px 0;
	font-size: 0.8em;
	font-family: 'Bitstream Vera Sans Mono', courier, monospace;
}

a { color: #88154e; }
a:hover { color: black; text-decoration: none; }

ol { margin: 0 0 0 40px; }

/************************************************************************
* Layout
************************************************************************/

header
{
	width: 100%;
	height: 426px;
	background: url(../images/header-bg.png) repeat-x;
}

#introduction
{
	width: 540px;
	float: left;
}

#introduction .description
{
	font-family: 'Comfortaa';
	font-weight: 300; 
	font-size: 1.5em;
}

#introduction a.donate
{
	float: right;
	padding: 15px 20px;
	margin: 20px 0 0 0;
	font-family: 'Comfortaa';
	font-weight: 700; 
	font-size: 1.5em;
	text-decoration: none;
	background: #5e2843;
	color: white;
	text-align: center;
	display: none;
}

#logo
{
	float: left;
	width: 218px;
	height: 100px;
	background: url(../images/logo.png) no-repeat;
}

#logo a
{
	display: block;
	width: 218px;
	height: 100px;
	text-decoration: none;
}

#introduction:hover #logo
{
	background-position: 0 -90px;
}

#introduction:hover a.donate { display: inline; }

nav
{
	width: 360px;
	height: 340px;
	padding: 30px 20px 20px 20px;
	background: #161013;
	float: right;
}

nav h1
{
	color: white;
	text-align: center;
}

nav ul
{
	margin: 40px 0 0 0;
	text-transform: uppercase;
	font-family: 'Comfortaa';
	font-weight: 400; 
}

nav ul li
{
	display: block;
	padding: 7px 5px 10px 5px;
	margin: 0 0 7px 0;
	border-bottom: 1px solid #2b2525;
}

nav ul li:before
{
	content: "*";
	padding: 7px 9px 0;
	font-size: 1.2em;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	background: #2b2525;
	color: #747272;
}

nav ul li:hover
{
	color: #d39a00;
}

nav ul li a
{
	display: block;
	float: right;
	color: #797474;
	text-decoration: none;
}

nav ul li a:hover
{
	color: #d39a00;
}

section
{
	border-bottom: 2px dashed #ceccc5;
}

section h1 
{
	margin: 30px 0 30px 0;
}

section ul
{
	margin: 0 0 10px 0;
}

section ul li
{
	margin: 0 0 0 40px;
	list-style-type: circle;
	padding: 3px 0;
	color: #5e2843;
}

a#to-top
{
	background: #161013;
	padding: 10px 15px;
	color: white;
	font-family: 'Comfortaa';
	font-weight: 700;
	position: fixed;
	top: 0;
	display: none;
	text-decoration: none;
}

a#to-top:hover
{
	background: #341b27;
}

/************************************************************************
* Main classes
************************************************************************/

.tagged
{
	background: #341b27;
	color: #ecc5d9;
	padding: 4px;
	font-size: 0.8em;
	font-family: 'Bitstream Vera Sans Mono', courier, monospace;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}

.wip
{
	font-family: 'Comfortaa';
	font-weight: 300; 
	font-size: 1.2em;
	color: #930049;
}

/************************************************************************
* Helper classes
************************************************************************/

.container { width: 960px; }
.centered { margin: 0 auto; }
.spaced { padding: 10px; }
.container.spaced { padding: 10px 0; }
.text-centered { text-align: center; }
.pull-left { float: left; }
.pull-right { float: right; }
.clear { clear: both; }

/************************************************************************
* Transitions
************************************************************************/

a
{
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}